
    <h1>Mis reportes</h1>
    <mat-divider></mat-divider>
    <button mat-stroked-button type="button" class="mat-accen button" (click)="openPDF()" color="basic">
        <mat-icon>get_app</mat-icon>
        Descargar PDF
    </button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 reportes-table" id="dataTable">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="creador">
            <th mat-header-cell *matHeaderCellDef> Creador del reporte</th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Número de Reporte </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroReporte}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo de Reporte </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="edificio">
            <th mat-header-cell *matHeaderCellDef> Edificio </th>
            <td mat-cell *matCellDef="let element"> {{element.edificio}} </td>
        </ng-container>


        <ng-container matColumnDef="oficina">
            <th mat-header-cell *matHeaderCellDef> Oficina </th>
            <td mat-cell *matCellDef="let element"> {{element.oficina}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaSeguimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha del seguimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaSeguimiento | date:'dd/MM/yyyy, h:mm a'}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="comentario">
            <th mat-header-cell *matHeaderCellDef> Comentario </th>
            <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
        </ng-container>

        <ng-container matColumnDef="funcionarioSeguimiento">
            <th mat-header-cell *matHeaderCellDef> Creador del seguimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioSeguimiento}}</td>
        </ng-container>

        <ng-container matColumnDef="asignado">
            <th mat-header-cell *matHeaderCellDef> Asignado a </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioAsignado}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
