<div class="menu">

  <button mat-button class="menu-button" routerLink="/inicio/edificio">
    Edificios
  </button>

  <button mat-button class="menu-button" routerLink="/inicio/estadoreporte">
    Estado de Reporte
  </button>
  <button mat-button class="menu-button" routerLink="/inicio/tiporeporte">
    Tipo de Reporte
  </button>
  <button mat-button class="menu-button" routerLink="/inicio/prioridadreporte">
    Prioridad de Reporte
  </button>
  <button mat-button class="menu-button" routerLink="/inicio/funcionarios">
    Funcionarios
  </button>
</div>

<router-outlet></router-outlet>

